awscli==1.17.0
boto3==1.11.1
botocore==1.14.1
colorama==0.4.1
docutils==0.15.2
jmespath==0.9.4
logzero==1.5.0
pyasn1==0.4.8
python-dateutil==2.8.1
PyYAML==5.2
rsa==4.1
s3transfer==0.3.0
six==1.13.0
urllib3==1.25.7
